<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 5 Students</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Top 5 Students</h1>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Student ID</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Ethnicity</th>
                    <th scope="col">Parental Level of Education</th>
                    <th scope="col">Math Score</th>
                    <th scope="col">Reading Score</th>
                    <th scope="col">Writing Score</th>
                    <th scope="col">Total Score</th>
                    <th scope="col">Percentage</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ student['ID'] }}</td>
                    <td>{{ student['gender'] }}</td>
                    <td>{{ student['race/ethnicity'] }}</td>
                    <td>{{ student['parental level of education'] }}</td>
                    <td>{{ student['math score'] }}</td>
                    <td>{{ student['reading score'] }}</td>
                    <td>{{ student['writing score'] }}</td>
                    <td>{{ student['TotalScore'] }}</td>
                    <td>{{ student['Percentage'] }}%</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
